* 
	{ 
        margin: 0px;
        padding: 0px;
	}
	

p 
	{
        padding: 11rem 10rem 3rem 20rem;
        font-size: 1rem;
        align-content: center;
	}


h1 
	{
        color: #FFFFF;
        padding-bottom: .5rem;
        text-align: left;
        font-weight: lighter;
	}

h2 
	{
        color: #FFFFF;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        text-align: center;
        font-weight: lighter;
	}


h3 
	{
        color: #FFFFF;
        padding-bottom: 2rem;
        text-align: left;
        font-weight: lighter;
	}


body 
	{
        font-family: sans-serif;
		font-size: 1.2rem;
	}


header
	{
		text-align:center;
        background-color: #c1e058;
        font-size: 1.5rem;
        color: #000000;
        padding: 20px 5px 5px 20px;
	}


div
    {
        float: left;
    }
	


nav 
	{
		font-size:1.2rem;
		text-align:center;
		font-weight: lighter;
	}

nav A:link, nav A:hover, nav A:visited
	{
        color: #000000;/*The color of the link*/
		text-decoration:none;
	}

nav li
	{
        list-style-type: none;
	}




nav.topnav
	{
        background-color: #FFFFFF;
        padding-top: 20px;
        padding-bottom: 20px;
    }



nav.topnav li 
	{
        display: inline-block;
        padding: 1rem;
	}



nav.sidenav /*bluegreen side bar*/
	{
        background-color: #57dfdd;
        padding: 2rem;
        color: #FFFFFF;
        width: 75%;
		height: 18rem;
        margin-bottom: 20px;
    }

nav.sidenav li 
    {
        margin-right: 10px;
        padding: .75rem;
	}



aside /*bottom left darker blue*/
   {
        background-color: #37b7e1;
       padding: 2rem;
        color: #FFFFFF;
        width: 75%;
		height: 8rem;
        margin-bottom: 20px;
    }



article /*main content*/
	{
        background-color: #FFFFFF;
        height: 20rem;
        text-align:center;
    }

div .sectionhead /*mustard heading*/
    {
        background-color: #dfd758;
        height: 60px;
        line-height: 20px;
        color: #FFFFFF;
        font-size: 1rem;
        vertical-align: middle;
        display: inline-block;
        width: 78%;
        padding: 10px 10px 10px 10px;
        float: right;
        margin-left: 0;
        }
            

footer 
	{
        background-color: #aeafb1;
        height: 40px;
        clear: both;
        padding: 20px 20px 20px 1000px;
    }


