* 
	{ 
        margin: 5px;
        padding: 5px;
	}
	
p 
	{
        padding: 2rem 20rem 3rem 20rem;
        font-size: 1rem;
	}

h1 
	{
        color: #FFFFF;
        padding-bottom: .5rem;
        text-align: left;
        font-weight: lighter;
	}

h3 
	{
        color: #FFFFF;
        padding-bottom: 2rem;
        text-align: left;
        font-weight: lighter;
	}

body 
	{
        font-family: sans-serif;
		font-size: 1.2rem;
	}

header
	{
		text-align:center;
        background-color: #c1e058;
        font-size: 1.5rem;
        color: #000000;
	}

div
    {
        float: left;
    }
	


nav 
	{
		font-size:1.2rem;
		text-align:center;
		font-weight: lighter;
	}

nav A:link, nav A:hover, nav A:visited
	{
        color: #000000;/*The color of the link*/
		text-decoration:none;
	}

nav li
	{
        list-style-type: none;
		padding: auto;
	}




nav.topnav
	{
        background-color: #FFFFFF;
    }



nav.topnav li 
	{
        display: inline-block;
        padding: .25rem;
	}



nav.sidenav /*bluegreen side bar*/
	{
        background-color: #57dfdd;
        padding: 2rem;
        color: #FFFFFF;
        width: 75%;
		height: 24rem;
        margin-bottom: 20px;
    }

nav.sidenav li 
    {
        margin-right: 10px;
        padding: .75rem;
	}



aside /*bottom left darker blue*/
  {
        background-color: #37b7e1;
        padding: 2rem;
        color: #FFFFFF;
        width: 75%;
		height: 10rem;
    }



article /*main content*/
	{
        background-color: #FFFFFF;
        height: 20rem;
        text-align:center;
    
	}





div .sectionhead /*mustard heading*/
    {
        background-color: #dfd758;
        height: 80px;
        line-height: 80px;
        color: #FFFFFF;
        font-size: 1.5rem;
        vertical-align: middle;
        display: inline-block;
        }
            

footer 
	{
		text-align: center;
        padding: .5rem 0 .5rem 0;
        background-color: #aeafb1;
        height: 80px;
	}
        
footer img
	{
		width: 3rem;
        float: right;
    }
